Flask==3.0.3
Flask-Login==0.6.3
requests==2.32.3
gunicorn==23.0.0
opentelemetry-sdk==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation-flask==0.50b0
opentelemetry-instrumentation-sqlalchemy==0.50b0
opentelemetry-instrumentation-requests==0.50b0
prometheus-client==0.21.1
